<%= form_with(model: staff) do |form| %>
  <% if staff.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this employee from being saved:</h2>


      <ul>
        <% staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb3">
    <%= form.label :employee_name, style: "display: block" %>
    <%= form.text_field :employee_name, class:'form-control' %>
  </div>

  <div class="mb3">
    <%= form.label :employee_number, style: "display: block" %>
    <%= form.text_field :string, class:'form-control' %>
  </div>

  <div>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
